body {
    background-color: lightgray;
}

#name {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
    border: 2px solid black;
    border-color: gray;
    border-radius: 4px;
    font-size: 21px;
}

#lastname {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
    border: 2px solid black;
    border-color: gray;
    border-radius: 4px;
    font-size: 21px;
}

#button {
	position: relative;
	padding: 5px 45px;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	color: lightgray;
	background-color: gray; 
	z-index: 1;
	outline: none;
	cursor: pointer;
}
#button:active {
    position: relative;
	padding: 5px 45px;
	font-size: 18px;
	border: none;
	border-radius: 8px;
	color: lightgray;
	background-color: gray; 
	z-index: 1;
	outline: none;
	cursor: pointer;
    margin-top: 0.5px;
    box-shadow: black 0.5px;
}